body {
	color: white;
	background: black;
	text-decoration: none;
	font-size: 15;
}

a:link {
	color: white;
       	text-decoration: underline;
}
a:active {
	color: white;
	text-decoration: underline;
}
a:visited {
	color: white;
	text-decoration: underline;
}
a:hover {
	color: cyan;
	text-decoration: none;
}

.main { 
	padding-top: 3em;
	margin-left:25%;
	width:50%;
	color:white;
	background-color:black;
	text-align: left;
}
.navbar {
	width: 100%;
	float: left;
	margin: 0em 2em 5em 3em;
	list-style: none;
	background-color: #330066;
	padding-bottom: 1em;
}
.navbar li {
	float: left;
	color: white;
	list-style-type: none;
}
.navbar a {
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	padding-right: 30px;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
.navbar a:hover {
	padding-right: 40px;
	padding-left: 10px;
}
